@charset "utf-8";

/* common */

body {
  margin: 0;
}

.container{
  max-width: 800px;
  margin: 0 auto;
  box-sizing: border-box;
  width: calc(100% - 32px)
}

img{
  vertical-align: bottom;
}

h1{
  margin: 0;
  font-size: 0;
}

h2,
h3,
p{
  margin: 0;
  font-weight: normal;
}

.btn{
  background: green;
  color: white;
  display: inline-block;
  text-decoration: none;
  padding: 8px 16px;
  border-radius: 8px;
}

small{
  font-size: 14px;
  color:white;
}

/* header */
header{
  display: flex;
  justify-content: space-between;
  padding:16px 0;
}

.logo-pc{
  display: none;
}

/* hero */
.hero{
  text-align: center;
  background: skyblue url(bg.png) repeat-x bottom;
  padding-top:64px;
}

.hero .btn{
  margin-top: 64px;
}

.hero img{
  margin-top: 64px;
}

/* features */
.features{
  padding: 64px 0;
}

.features h2{
  text-align: center;
}
 .feature .pic{
  text-align: center;
  margin-top: 64px;
 }


 .feature h3{
  margin-top: 16px;
 }

 .feature p {
  margin-top: 16px;
 }

 /* footer */
 footer{
  background: #333;
  padding:64px;
  text-align: center;
 }

 /* large screen */
@media(min-width:600px){


  /* header */
  .logo-sp{
    display: none;
  }

  .logo-pc{
    display: inline-block;
  }

  /* hero */
  .hero .container{
    display: flex;
    align-items: center;
  }

  .hero div {
    flex: 1;
  }

  .hero img {
    margin-top: 0;
  }

  /* .feature */
  .feature{
    display: flex;
    align-items: center;
    gap:32px;
    margin-top: 64px;
  }

  .feature .pic{
    margin-top: 0;
  }

  .reversed{
    flex-direction: row-reverse;
  }
}